:root {
  --primaryColor: #e5540a;
  --secondaryColor: #090909;
  --lightBg: rgba(255,255,255,0.01);
  --textColor: #919191;
  --borderColor: #202020;
  --textLightTheme: #666;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondaryColor);
  color: #fff;
}

.container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

.sectionPadding {
  padding-block: 100px;
}

.primaryBtn {
  padding: 18px 36px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.4);
  color: #fff;
  transition: .4s all;
  cursor: pointer;
  text-decoration: none;
}

.primaryBtn:hover {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.orangeBtn {
  background-color: transparent;
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.orangeBtn:hover {
  color: #fff;
}

.sectionTitleWrap h2 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  margin: 0 0 20px;
}

.titleSpace {
  margin-bottom: 50px;
}

.subTitle {
  font-size: 24px;
  color: #ccc;
  margin: 0 0 12px;
  line-height: 1.4;
}

.textMd {
  font-size: 18px;
  color: var(--textColor);
  line-height: 1.6;
}

.textCenter {
  text-align: center;
}

/* Header */
.siteHeader {
  padding: 0 40px;
  column-gap: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  transition: .4s all;
}

.siteNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteNav ul {
  list-style: none;
  display: flex;
}

.siteNav ul a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: .4s all;
  padding: 45px 20px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: .4s all;
}

.siteNav ul a:hover {
  color: var(--primaryColor) !important;
  border-color: var(--primaryColor);
}

.siteLogo span {
  background-color: #fff;
  color: var(--secondaryColor);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
}

.stickyHeader .siteNav ul a {
  padding: 32px 20px;
}

.stickyHeader {
  background: rgba(0,0,0,0.8);
  border-bottom: 1px solid var(--borderColor);
}


/* Switch Toggle */
.switchBtn {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 36px;
  margin: 38px 0 0 20px;
  border: 1px solid transparent;
  transition: .4s all;
}

.stickyHeader .switchBtn {
  margin-top: 25px;
}

.switchBtn input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switchBtn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.1);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.switchBtn .slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 5px;
  bottom: 3px;
  background: var(--primaryColor);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.switchBtn input:not(:checked) + .slider {
  background-color: rgba(255,255,255,0.1);;
}

.switchBtn input:not(:checked) + .slider:before {
  -webkit-transform: translateX(39px);
  -ms-transform: translateX(39px);
  transform: translateX(39px);
}

.darkIocn, .lightIcon {
  position: absolute;
  right: 7px;
  top: 4px;
  cursor: pointer;
}

.switchBtnInner {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.lightIcon {
  left: 10px;
  right: auto;
}

.switchBtn svg {
  width: 18px;
  height: 18px;
  margin-top: 3px;
}


/* Banner */
.banner {
  background-image: url(../public/images/bg1.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.banner::after {
  background-color: rgba(0,0,0,.7);
  content: '';
  position: absolute;
  inset: 0;
}

.banner .container {
  position: relative;
  z-index: 1;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  color: #fff;
  font-size: 80px;
  line-height: 1.4;
  font-weight: bold;
}

.index-module_type__E-SaG {
  font-size: 40px; 
  display: block;
  color: #fff; 
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
}


/* About Section */
.aboutRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.aboutRow .aboutCol {
  flex-basis: calc(50% - 40px);
}

.aboutImg {
  background: var(--lightBg);
  padding: 40px 0 0;
  height: 620px;
  overflow: hidden;
  text-align: center;
}

.aboutImg img {
  width: auto;
  height: 100%;
}

.aboutFact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.aboutFact p {
  color: var(--textColor);
  font-size: 21px;
  text-align: center;
}

.aboutFact p span {
  color: var(--primaryColor);
  font-size: 54px;
  display: block;
  margin: 30px 0 10px;
  font-weight: bold;
}


/* Services */
.servicesWrap {
  background-color: var(--lightBg);
}

.serviceCardWrap {
  display: flex;
  flex-flow: wrap;
  gap: 24px;
}

.serviceCard * {
  transition: .4s all;
}

.serviceCard {
  flex-basis: calc(33.33% - 16px);
  border: 1px solid var(--borderColor);
  padding: 24px;
  text-align: left;
}

.serviceCard .serviceIocn {
  margin-bottom: 20px;
}

.serviceCard:hover .serviceIocn svg {
  fill: var(--primaryColor);
}

.serviceCard .textMd {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}


/* Portfolio Section */
.portfolioRow {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-flow: wrap;
}

.porfolioCol {
  flex-basis: calc(33.33% - 16px);
}

.porfolioCard {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.porfolioImg img {
  width: 100%;
  transition: .4s all;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.porfolioContent {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  transition: .4s all;
  opacity: 0;
  visibility: hidden;
}

.porfolioCard:hover .porfolioContent {
  opacity: 1;
  visibility: visible;
}

.porfolioCard:hover .porfolioImg img {
  transform: scale(1.1);
}

.porfolioContent  .subTitle{
  margin: 0;
}

/* Content */
.contactForm {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1000px;
  margin: 0 auto;
}

.contactForm .formGroup {
  flex-basis: calc(33.33% - 16px);
}

.contactForm .formGroup.fullWidth {
  flex-basis: 100%;
}

.formGroup input, .formGroup textarea {
  width: 100%;
  height: 54px;
  border: 1px solid var(--borderColor);
  background-color: transparent;
  padding: 12px 20px;
  color: #fff;
}

.formGroup textarea {
  height: 150px;
}


/* Footer */
.footer {
  background-color: var(--lightBg);
}

.footer .siteLogo span {
  margin: 0 auto;
  width: 54px;
  height: 54px;
  font-size: 22px;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  list-style: none;
  margin-block: 30px;
}

.footer ul a {
  border: 1px solid var(--borderColor);
  border-radius: 50%;
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  width: 40px;
}

.footer ul a svg, .footer ul a {
    transition: .4s all;
}

.footer ul a:hover {
  background: var(--secondaryColor);
}

.footer ul a:hover svg {
  fill: var(--primaryColor);
}

.copyRightTxt {
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: normal;
}


/* Light Theme */
body.lightTheme {
  background-color: #fff;
}

.lightTheme .sectionTitleWrap h2, .lightTheme .banner h1, .lightTheme .index-module_type__E-SaG, .lightTheme .siteNav ul a, .lightTheme .copyRightTxt {
  color: var(--secondaryColor);
}

.lightTheme .banner::after, .lightTheme .porfolioContent {
  background-color: rgba(255,255,255,.7);
}

.lightTheme .stickyHeader {
  background: rgba(255,255,255,0.9);
  border-color: #ddd;
}

.lightTheme .switchBtn .slider {
  background-color: rgba(0,0,0,0.2);
}

.lightTheme .siteLogo span {
  background-color: var(--secondaryColor);
  color: #fff;
}

.lightTheme .subTitle {
  color: #333;
}

.lightTheme .textMd, .lightTheme .aboutFact p {
  color: #444;
}

.lightTheme .serviceCard, .lightTheme .formGroup input, .lightTheme .formGroup textarea {
  border-color:#ddd;
}

.lightTheme .servicesWrap, .lightTheme .footer, .lightTheme .aboutImg {
  background: #f0f6fb;
}

.lightTheme .primaryBtn {
  background-color: var(--primaryColor);
}

.lightTheme .orangeBtn {
  background-color: transparent;
}

.lightTheme .primaryBtn:hover {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}

