:root {
  --primaryColor: #e5540a;
  --secondaryColor: #090909;
}


body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090909;
}

.container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

.sectionPadding {
  padding-block: 100px;
}

.primaryBtn {
  padding: 18px 36px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: rgba(0,0,0,0.4);
  color: #fff;
  transition: .4s all;
  cursor: pointer;
}

.primaryBtn:hover {
  background-color: var(--primaryColor);
}

.sectionTitleWrap h2 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  margin: 0 0 20px;
}

.titleSpace {
  margin-bottom: 50px;
}

.subTitle {
  font-size: 24px;
  color: #ccc;
  margin: 0 0 12px;
  line-height: 1.4;
}

.textMd {
  font-size: 18px;
  color: #919191;
  line-height: 1.6;
}

.textCenter {
  text-align: center;
}

/* Header */
.siteHeader {
  padding: 0 40px;
  column-gap: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background: rgba(0,0,0,0.2);
}

.siteNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteNav ul {
  list-style: none;
  display: flex;
}

.siteNav ul a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: .4s all;
  padding: 45px 20px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: .4s all;
}

.siteNav ul a:hover {
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.siteLogo span {
  background-color: #fff;
  color: #090909;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
}

.stickyHeader .siteNav ul a {
  padding: 32px 20px;
}

.stickyHeader {
  background: rgba(0,0,0,0.9);
}

/* Banner */
.banner {
  background-image: url(../public/images/bg1.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.banner::after {
  background-color: rgba(0,0,0,.7);
  content: '';
  position: absolute;
  inset: 0;
}

.banner .container {
  position: relative;
  z-index: 1;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  color: #fff;
  font-size: 80px;
  line-height: 1.4;
  font-weight: bold;
}


/* About Section */
.aboutWrap {
  background-color: #090909;
}
.aboutRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.aboutRow .aboutCol {
  flex-basis: calc(50% - 40px);
}

.aboutImg {
  background: rgba(255,255,255,0.01);
  padding: 40px 0 0;
  height: 620px;
  overflow: hidden;
  text-align: center;
}

.aboutImg img {
  width: auto;
  height: 100%;
}

.aboutFact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.aboutFact p {
  color: #919191;
  font-size: 21px;
  text-align: center;
}

.aboutFact p span {
  color: var(--primaryColor);
  font-size: 54px;
  display: block;
  margin: 30px 0 10px;
  font-weight: bold;
}


/* Services */
.servicesWrap {
  background-color: #101010;
}

.serviceCardWrap {
  display: flex;
  flex-flow: wrap;
  gap: 24px;
}

.serviceCard * {
  transition: .4s all;
}

.serviceCard {
  flex-basis: calc(33.33% - 16px);
  border: 1px solid #222222;
  padding: 24px;
  text-align: left;
}

.serviceCard .serviceIocn {
  margin-bottom: 20px;
}

.serviceCard:hover .serviceIocn svg {
  fill: var(--primaryColor);
}

.serviceCard .textMd {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}


/* Content */
.contactForm {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background: #101010;
  padding: 44px;
  max-width: 1000px;
  margin: 0 auto;
}

.contactForm .formGroup {
  flex-basis: calc(33.33% - 16px);
}

.contactForm .formGroup.fullWidth {
  flex-basis: 100%;
}

.formGroup input, .formGroup textarea {
  width: 100%;
  height: 54px;
  border: 1px solid #202020;
  background-color: transparent;
  padding: 0 20px;
}

.formGroup textarea {
  height: 150px;
}


/* Footer */
.footer {
  background-color: #101010;
}

.footer .siteLogo span {
  margin: 0 auto;
  width: 54px;
  height: 54px;
  font-size: 22px;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  list-style: none;
  margin-block: 30px;
}

.footer ul a {
  border: 1px solid #202020;
  border-radius: 50%;
  color: #919195;
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  width: 40px;
}

.footer ul a svg, .footer ul a {
    transition: .4s all;
}

.footer ul a:hover {
  background: #090909;
}

.footer ul a:hover svg {
  fill: var(--primaryColor);
}

p.copyRightTxt {
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: normal;
}